@{
	Layout = null;
}
<!DOCTYPE html>
<html class=''>
<head>
	<title>Napkin | Collaborative Sketching</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<link type="text/css" rel="stylesheet" href="/styles/homepage.css" />
</head>
<body>
<form action="/" method="post">
	<input type="submit" name="submit" value="Start" />
</form>
</body>
</html>