@using System.Threading.Tasks
@using wsweb.ViewModels
@model wsweb.ViewModels.NapkinViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html class=''>
<head>
	<title>Napkin</title>
	<link href="//fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<link type="text/css" rel="stylesheet" href="/styles/main.css" />
	<style type="text/css">
		::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}

		::-webkit-scrollbar-button {
			width: 0px;
			height: 0px;
		}

		::-webkit-scrollbar-thumb {
			background: #e1e1e1;
			border: 0px none #ffffff;
			border-radius: 50px;
		}

			::-webkit-scrollbar-thumb:hover {
				background: #ffffff;
			}

			::-webkit-scrollbar-thumb:active {
				background: #000000;
			}

		::-webkit-scrollbar-track {
			background: #666666;
			border: 0px none #ffffff;
			border-radius: 50px;
		}

			::-webkit-scrollbar-track:hover {
				background: #666666;
			}

			::-webkit-scrollbar-track:active {
				background: #333333;
			}

		::-webkit-scrollbar-corner {
			background: transparent;
		}
	</style>
</head>
<body class="">
	<canvas id="c" width="1000" height="500"></canvas>

	<div class="instructions text">
		<div class="toggle">&#x2261;</div>

		<div class="description">
			<h1>NAPKIN</h1>
			<p>Quickly sketch something together.</p>

			<h2>BASICS</h2>
			<ul>
				<li><span class="k">LClick + Drag</span> Draw</li>
				<li><span class="k">RClick + draw</span> Erase</li>
				<li><span class="k">DBL click</span> and start typing for text</li>
				<li><span class="k">Ctrl+Shift+Click</span> to create polyline</li>
				<li class="sep"><span class="k">Ctrl+Drag</span> to resize</li>
				<li><span class="k">Shift+Drag</span> to move</li>
				<li><span class="k">Alt+Drag</span> to clone</li>
				<li class="sep"><span class="k">DEL</span> to delete</li>

			</ul>

			<p>You can only modify the most recent object that you've drawn by either resizing/moving/cloning or specifying its shape.</p>

			<h2>SHAPES</h2>
			<p>Use shortcuts below to switch what you've drawn to one of the shapes.</p>
			<ul>
				<li><span class="k">o</span> As-is (original, as-drawn, he-he)</li>
				<li><span class="k">r</span> Rectangle</li>
				<li><span class="k">c</span> Circle</li>
				<li><span class="k">e</span> Ellipse</li>
				<li><span class="k">h</span> Human stick figure</li>
				<li><span class="k">k</span> Straight line</li>
				<li><span class="k">l</span> Smooth line or simplified</li>
				<li><span class="k">RIGHT ARROW</span> TO arrow</li>
				<li><span class="k">LEFT ARROW</span> FROM arrow</li>
			</ul>
		</div>
	</div>
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src='/scripts/libs/keysight/dist/keysight.umd.js'></script>
	<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.js"></script>
	<script src='/scripts/simplify.js'></script>
	<script>
		var napkinId = '@Model.Id';
	</script>
	<script src='/scripts/app.js'></script>
	<span class="fontloader">font</span>
</body>
</html>